<ion-header>
  <ion-toolbar>
    <ion-title>Comunidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <h2>
        Cominidad
      </h2>
    </ion-card-header>
    <ion-card-content>  
        Tienes una idea de reciclaje o necesitas ayuda, compartila con el "Hashtag" de tu idea, escribiendo "#" seguido de tu idea.
        Ejemplo: #myPrimerIdeaDeReciclaje.
      <ion-list>
        <ion-item>
          <ion-label>
            Compartinos una idea
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Busca un Hashtag :)
          </ion-label>
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <h2>
        Foro Interactivo
      </h2>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <div class="bandeja">
            <div class="idea"></div>
          </div>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Mensaje"></ion-input>
          <ion-icon name="send" class="btnDenuncia"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>