
.btnDenuncia{
    background-color: #00FF00;
    width: 10%;
    padding: 5px;
    margin-top: 17px;
    border-radius: 50%;
    font-size: 1.1rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}
.bandeja{
    width: 100%;
    line-height: 300px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}